/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 24px;
    margin: 0;
  }
  

  
  /* Hero Section */
.hero {
  background-color: #d3a6a6;
  padding: 50px 0;
  text-align: center;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #888;
  margin-bottom: 30px;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

/* Search Form */
.search-form {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.search-form h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.search-form form {
  text-align: center;
}

.search-form .form-group {
  margin-bottom: 20px;
}

.search-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form .btn {
  padding: 10px 30px;
  font-size: 18px;
}

  
 /* Custom CSS for job listings */
.job-listings {
  padding: 40px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background-color: #ebc7c7;
  border: none;
  box-shadow: 0 2px 6px rgba(90, 44, 44, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.card-text {
  color: #333;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 20px;
  }
}

  
  